.avalaible-ships-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avalaible-ship-cell {
    display: flex;
    justify-content: left;
}

.avalaible-ship-row {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.prefix-ship-square {
    width: 50px;
    height: 50px;
    text-align: justify;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
}
