.board {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.board-table {
    border-collapse: collapse;
}
  
.table-field {
    width: 50px;
    height: 50px;
    border: 1px solid #3CC330;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #EBEBEB;
}
 
.axes-description {
    width: 50px;
    height: 50px;
    border: 0px solid #000;
    text-align: center;
    color: #3CC330;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.75em;
}
