.board {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.board-table {
    border-collapse: collapse;
}
  
.table-field {
    width: 50px;
    height: 50px;
    border: 1px solid #3CC330;
    text-align: center;
    vertical-align: middle;
    background-color: #EBEBEB;
    position: relative;
}
 
.axes-description {
    font-family: 'Bangers';
    width: 50px;
    height: 50px;
    border: 0px solid #000;
    text-align: center;
    color: #3CC330;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.75em;
}


.table-field.drag-over {
    background-color: #00FF56;
}

.table-field.invalid-drag-over {
    background-color: lightcoral;
}

.table-field.ship {
    width: 50px;
    height: 50px;
    border: 1px solid #606060;
    vertical-align: middle;
    cursor: pointer;
    background-color: #929292;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hit-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #B70F0A;
    margin: auto; 
}

.hit-ship-field {
    width: 50px;
    height: 50px;
    border: 2px solid #B70F0A;
    text-align: center;
    vertical-align: middle;
    background-color: #929292;
    position: relative;

}
.hit-ship {
    color:#B70F0A;
}